--><div class="my-item my-album">
  <div class="my-title"><%= image_of_day.day %></div>
  <a href="<%= a_date_path image_of_day.day %>">
    <img src="<%= image_of_day_thumb image_of_day %>"
      alt="<%= image_of_day.day %>" title="<%= image_of_day.day %>">
  </a>
</div><!--
